html {
    font-family: 'Lato', sans-serif;
}

header {
    background: linear-gradient(to top, #38EF7D, #21BD86);
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    color: white;
    text-align: center;
}

body {    
    color: #3d3d3d;
}

h1 {
    font-size: 4em;
    margin-top: 0;
}

/* Header Styling */

header h2 {
    opacity: 0.8;
    font-weight: lighter;
}

#appstore-download {
    width: 50%;
}

header #appstore-download {
    padding-top: 60px;
    padding-bottom: 60px;
}

header img {
    width: 60%;
}

/* Features Styling */

.features-container img {
    width: 128px;
    height: 128px;
}

.features-container {
    padding: 60px 0 60px 0;
    text-align: center;
    width: 80%;
    margin: auto;
}

.features-container h2 {
    margin: 0 0 16px 0;
}

/* Divider */

.solid-divider {
    width: 70%;
    border: 1px solid lightgrey;
}

/* Screenshot Container */

.screenshot-container {
    text-align: center;
    padding-top: 60px;
}

.screenshot-container h3 {
    font-weight: lighter;
    margin-bottom: 60px;
}

.screenshot-container img {
    width: 60%;
}

/* Download Container */


.download-container {
    width: 80%;
    text-align: center;
    margin: auto;
    border-radius: 18px 18px 0 0;
    background: linear-gradient(to bottom, #38EF7D, #21BD86);
    color: white;
}

.download-container h2 {
    margin: 0;
    padding-top: 84px;
}

.download-container img {
    padding-top: 84px;
    padding-bottom: 84px;
}

.download-container p {
    margin: 0;
    padding: 12px;
    font-size: 12px;
    opacity: 50%;
}

@media(min-width: 768px) {
    .header-container {
        width: 60%;
        margin: auto;
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: flex-start;
    }

    .header-text {
        width: 75%;
        margin-right: 5%;
    }

    .header-container img {
        width: 256px;
    }

    header #appstore-download {
        width: 210px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: baseline;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: 3em;
    }

    .features-container img, .screenshot-container img {
        margin: auto;
    }

    .screenshot-container {
        width: 80%;
        margin: auto;
    }

    .download-container #appstore-download {
        width: 210px;
    }
}